/* This file is the style for main.php*/
#bern,
#bern1 {
  width: 112px;
  height: 156px;
  z-index: 999;
  position: absolute;
  animation: walk 0.8s steps(6) infinite;
  background: url("../data/images/bern.png") repeat-x;
}
#bern {
  left: 30px;
  bottom: 66px;
}
#bern1 {
  right: 30px;
  bottom: 66px;
}
@keyframes walk {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -672px;
  }
}
@keyframes moveBackground {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@font-face {
  font-family: Retro Gaming;
  src: url("../data/font/Retro\ Gaming.ttf");
}
.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
* {
  cursor: url("../data/images/cursor.cur"), auto;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
  color: #1e1e1e;
  font-family: Retro Gaming;
  display: flex;
  background-color: #0f0b16;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23696372' fill-opacity='0.31' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: repeat;
  animation: moveBackgroundBody 60s linear infinite;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@keyframes moveBackgroundBody {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  padding: 2rem;
}
.title-container {
  text-align: center;
  margin-bottom: 10%;
}
.title-container h1 {
  font-size: 60px;
}
.title-container h1,
.title-container h2 {
  font-weight: 400;
  color: #ffcc00;
}
.title-container h2 {
  font-size: 30px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.login-container {
  display: flex;

  justify-content: space-around;
  width: 100%;
}
/* buttons */
.btn {
  background: #7c7c7c;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-size: 35px;
  font-weight: 300;
  font-family: inherit;
  margin: 1rem;
  min-width: 200px;
  padding: 10px;
  text-transform: uppercase;
  width: auto;
}
.btn:focus,
.btn:hover {
  background: #bcbcbc;
}
.btn.primary {
  background: #881400;
}
.btn.primary:focus,
.btn.primary:hover {
  background: #a81000;
}
.btn.tertiary {
  background: #0000bc;
}
.btn.tertiary:focus,
.btn.tertiary:hover {
  background: #0000fc;
}
.ground {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 80px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #1f1304;
  overflow: hidden;
}
.grass {
  height: 20px;
  position: relative;
  background-color: #0c8a00;
}
.ground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-color: #230c0c;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  animation: moveBackground 60s linear infinite;
}
.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

/* login */
.login-container {
  background-color: rgb(104, 2, 104);
  position: absolute;
  top: 20px;
  width: fit-content;
  right: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 4px inset rgba(0, 0, 0, 0.5);
  border-left: 4px inset rgba(0, 0, 0, 0.5);
  border-right: 4px inset rgba(255, 255, 255, 0.5);
  border-top: 4px inset rgba(255, 255, 255, 0.5);
  gap: 10px;
}
.user-con {
  border: 2px solid violet;
  color: yellow;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.user-img-con {
  width: 20px;
  height: 20px;
}
.user-img-con img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.login-container button {
  padding: 10px;
  font-family: inherit;
  color: yellow;
  background-color: #bd1c00;
  border-bottom: 4px inset rgba(0, 0, 0, 0.5);
  border-left: 4px inset rgba(0, 0, 0, 0.5);
  border-right: 4px inset rgba(255, 255, 255, 0.5);
  border-top: 4px inset rgba(255, 255, 255, 0.5);
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 1000; /* ensure it's above other content */
}
.login-button,
.register-button {
  color: yellow;
  background-color: blueviolet;
  transition: all 0.15s;
  font-family: inherit;
}
.login-button:hover,
.register-button {
  background-color: rgb(165, 68, 255);
}

.form-container-login,
.form-container-reg {
  color: yellow;
  z-index: 9999;
  display: none;
  border-bottom: 7px inset rgba(0, 0, 0, 0.5);
  border-left: 7px inset rgba(0, 0, 0, 0.5);
  border-right: 7px inset rgba(255, 255, 255, 0.5);
  border-top: 7px inset rgba(255, 255, 255, 0.5);
  position: absolute;
  background-color: blueviolet;
  padding: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
label {
  font-size: 19px;
}
.close-container {
  display: flex;
  justify-content: end;
  align-items: center;
}
.close-btn {
  top: -45%;
  right: -5%;
  font-size: 19px;
}
.form-container-login h2,
.form-container-reg h2 {
  text-align: center;
  text-wrap: nowrap;
  margin-top: 0;
  margin-bottom: 20px;
}

.form-container-login input,
.form-container-reg input {
  font-family: inherit;
  font-size: 19px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 3px inset rgba(0, 0, 0, 0.5);
  border-left: 3px inset rgba(0, 0, 0, 0.5);
  border-right: 3px inset rgba(255, 255, 255, 0.5);
  border-top: 3px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}
.form-container-login input[type="submit"],
.form-container-reg input[type="submit"] {
  background-color: #f52789;
  color: white;
  border: none;
  cursor: pointer;
  border-bottom: 3px inset rgba(0, 0, 0, 0.5);
  border-left: 3px inset rgba(0, 0, 0, 0.5);
  border-right: 3px inset rgba(255, 255, 255, 0.5);
  border-top: 3px inset rgba(255, 255, 255, 0.5);
}
.form-container-login input[type="submit"]:hover,
.form-container-reg input[type="submit"]:hover {
  background-color: #f80a7d;
}
